@import '../variables';

.categories {
	display: flex;
	flex-direction: row;
	align-items: center;

	&__item {
		font-weight: bold;

		border-radius: 30px;
		background-color: #f9f9f9;

		padding: 13px 30px;
		margin-right: 10px;

		cursor: pointer;

		transition: background-color 0.1s ease-in-out;

		@include noselect();

		&:hover {
			background-color: darken(#f9f9f9, 2%);
		}

		&:active {
			background-color: darken(#f9f9f9, 5%);
		}

		&.active {
			background-color: #282828;
			color: #fff;
		}
	}
}
