//? == Cart ==

@import '../../scss/vars';

.cart {
	&--empty {
		margin: 0 auto;
		width: 560px;
		text-align: center;

		h2 {
			font-size: 32px;
			margin-bottom: 10px;
		}

		p {
			font-size: 18px;
			line-height: 145.4%;
			letter-spacing: 0.01em;
			color: #777777;
		}

		icon {
			position: relative;
			top: 2px;
		}

		img {
			display: block;
			width: 300px;
			margin: 45px auto 60px;
		}

		.button--black {
			padding: 12px 0 14px;
			width: 230px;
			margin: 0 auto;
			font-weight: 600;
			font-size: 18px;
		}
	}
}

.container {
	max-width: 820px;

	margin: 0 auto;
	padding: 90px 0;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 30px;

	&__title {
		padding-left: 46px;

		position: relative;

		svg {
			width: 30px;
			height: 30px;

			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);

			path {
				stroke: $black;
				stroke-width: 1.6;
			}
		}
	}
}

.allClearBtn {
	font-size: 16px;
	font-weight: 400;
	color: $light-gray;

	padding-left: 28px;

	position: relative;

	transition: color $trans-fast;

	cursor: pointer;
	@include noselect();

	svg {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		width: 20px;
		height: 20px;

		path {
			stroke: $light-gray;

			transition: stroke $trans-fast;
		}
	}

	&:hover {
		color: darken($light-gray, 30);

		svg {
			path {
				stroke: darken($light-gray, 30);
			}
		}
	}
}

.cartList {
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	margin-bottom: 40px;
}

.cartItem {
	width: 100%;

	padding-top: 30px;

	border-top: 1px solid $light2;
}

.footer {
	&__info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 40px;
	}

	&__text {
		font-size: 22px;
		font-weight: 400;
		color: $black;

		&:last-of-type {
			b {
				color: $orange;
			}
		}
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;

	column-gap: 12px;

	font-size: 16px;
	font-weight: 400;

	padding: 18px 30px;

	border-radius: 30px;
	border-width: 1px;
	border-style: solid;

	&--back {
		color: $light-gray2;

		border-color: $light-gray2;
		background-color: $white;

		transition: color $trans-fast, border-color $trans-fast;

		svg {
			path {
				stroke: $light-gray2;

				transition: stroke $trans-fast;
			}
		}

		&:hover {
			color: darken($light-gray2, 20);

			border-color: darken($light-gray2, 20);

			svg {
				path {
					stroke: darken($light-gray2, 20);
				}
			}
		}
	}

	&--confirm {
		font-weight: 700;
		color: $white;

		border-color: $orange;
		background-color: $orange;

		transition: border-color $trans-fast,
			background-color $trans-fast;

		&:hover {
			border-color: darken($orange, 8);
			background-color: darken($orange, 8);
		}
	}
}
