//? === Cart Item ===

@import '../../../scss/vars';

.cartItem {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}

.info {
	display: grid;
	grid-template-areas: 'img title' 'img desc';
	grid-template-columns: 80px 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 15px;
	row-gap: 4px;

	&__img {
		width: 80px;
		aspect-ratio: 1/1;

		object-fit: contain;
		object-position: center;

		grid-area: img;
		align-self: center;
		justify-self: center;
	}

	&__title {
		grid-area: title;
		align-self: end;
	}

	&__desc {
		font-size: 18px;
		font-weight: 400;
		color: $dark-gray;

		grid-area: desc;
	}
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&__count {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 12px;

		span {
			font-size: 22px;
			font-weight: 700;
			color: $black;
		}
	}

	&__price {
		font-size: 22px;
		font-weight: 700;
		color: $black;
	}
}
